<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:replace="~{fragment/head.html :: frag-head}" ></title>
</head>
<body>
	<div id="wrap">
		<div th:replace="~{fragment/user_status.html :: frag-user-status}" ></div>
		<div id="header">
			<form class="memo-search-bar">
				<a id="btn-reset" class="btn btn-outline" href="/memo/list"><span class="btn-text">Home</span></a>
				<div class="memo-divider-vertical"></div>
				<input type="text" class="form-control" name="q" th:value="${q}" placeholder="Search keyword..." aria-label="keyword." autocomplete="off" />
				<button type="submit" id="btn-submit" class="btn btn-outline"><span class="btn-text">Search</span></button>
				<div class="memo-divider-vertical"></div>
				<a id="btn-new" class="btn" href="/memo/write"><span class="btn-text">New</span></a>
			</form>
			<hr />
		</div>
		<div id="content-wrap">
			<div id="content-top"></div>
			<div id="content-body">
				<table id="content-list">
					<thead>
						<tr>
							<th class="content-seq text-center">No</th>
							<th>Title</th>
							<th class="content-crdte text-center">Created</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="memo, stat : ${memoList}">
							<td class="content-seq text-center align-middle" th:text="${stat.index + 1}"></td>
							<td class="content-title text-break">
								<a class="ct-btn" th:text="${memo.title}" th:href="${'/memo/view/' + memo.seq + (q != null ? ('?q=' + q) : '')}"></a>
							</td>
							<td class="content-crdte text-center align-middle" th:text="${#temporals.format(memo.crdte, 'yyyy-MM-dd')}">
							</td>
						</tr>
						<tr th:if="${memoList.size} == 0">
							<td class="content-seq text-center">-</td>
							<td class="content-title"><strong>No Content</strong></td>
							<td class="content-crdte text-center">-</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="content-bottom"></div>
		</div>
		<div id="footer"></div>
	</div>

	<script>
		
	</script>
</body>
</html>
