<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:replace="~{fragment/head.html :: frag-head}" ></title>
</head>
<body>
	<div id="loading_box">
        <img src="/static/images/loading_pen.gif" alt="Loading">
    </div>
	<div id="wrap" class="login-page">
		<div id="content-top" class="login-heading">
			<div>
				<img class="login-logo" th:src="@{/static/images/duck_logo2_circle.png}" alt="Memo" />
			</div>
			<span class="memo-badge memo-badge-accent">b e t a</span>
			<div class="login-title">Login Memo</div>
		</div>
		<div id="content-wrap" class="login-panel">
			<div id="content-body" class="login-form">
				<label for="uid">Username or email address</label>
				<input type="text" id="uid" class="form-control" name="uid" autofocus />
				<label for="upw">Password</label>
				<input type="password" id="upw" class="form-control" name="upw" />
			</div>
			<div id="content-btn-box">
				<button id="login-btn" class="btn login-submit" onclick="auth()">Login</button>
			</div>
		</div>
		<div id="content-bottom" class="login-signup">
			<span>New to Memo?</span>
			<a href="#wrap">Create and account</a>
		</div>
		<div id="footer"></div>
	</div>

	<script th:inline="javascript">
	
		document.querySelector('#upw').addEventListener("keydown", (e) => {
			e.keyCode == '13' && auth()			
		})	
	
		function auth() {
			
			const uid = document.querySelector('#uid').value;
			const upw = document.querySelector('#upw').value;
			
			if(uid === '' || upw === '') {
				alert("아이디, 비밀번호 입력 필요")
				return;
			}
			
			//const userData = btoa(`{"uid": ${uid}, "upw": ${upw}}`)
			
			fetch("/api/login/auth", {
				method: "POST",
				headers: memoCsrfHeaders({
					"Content-Type": "application/json"
				}),
				//body: JSON.stringify({"userData": userData})
				body: JSON.stringify({"uid": uid, "upw": upw})
			}).then(res => res.json()).then(json => {
				
				console.log(json);
				if( json.code == "SUCCESS" ) {
					location.replace("/memo/list");
				} else {
					alert("로그인 실패 : " + json.code)
				}
				
			})
		}
	</script>
</body>
</html>
