<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:replace="~{fragment/head.html :: frag-head}" ></title>
</head>
<body>
	<div id="loading_box">
        <img src="/static/images/loading_pen.gif" alt="Loading">
    </div>
	<div id="wrap">
		<div th:replace="~{fragment/user_status.html :: frag-user-status}" ></div>
		<div id="header">
			<div class="memo-toolbar" role="toolbar" aria-label="Toolbar with button groups">
				<div class="memo-button-group" role="group" aria-label="First group">
					<a class="btn btn-outline" href="/memo/list"><span class="btn-text">Back</span></a>
				</div>
				<div class="memo-button-group" role="group" aria-label="Second group">
					<button id="btn_save" type="button" class="btn"><span class="btn-text">Save</span></button>
				</div>
			</div>
			<hr />
		</div>
		<form id="content-wrap" name="content-wrap" action="/memo/view" method="post">
			<div id="content-top">
				<input id="content-title" name="title" class="form-control" placeholder="title..." th:value="${memo.title}" style="width: 95%; display: inline-block;" />
				<input type="checkbox" name="locked" />
			</div>
			<hr />
			<div id="content-body">
				<div id="content-main">
					<textarea id="content-detail" name="content" class="form-control"
							  placeholder="content..." th:text="${memo.content}"></textarea>
					<div id="content-button-wrap"></div>
				</div>
				<!-- <input type="hidden" name="locked" value="false" /> -->
				<input type="hidden" name="dirSeq" value="1" />
				<input type="hidden" name="serial" th:value="${memo.serial}" />
				<input type="hidden" name="seq" th:value="${memo.seq}" />
				<input type="hidden" name="_csrf" th:value="${session.CSRF_TOKEN}" />
			</div>
			<div id="content-bottom"></div>
		</form>
		<hr />
		<div id="footer"></div>
	</div>

	<script th:inline="javascript">
		let ff = false;
		let loading = document.querySelector("#loading_box");
		
		document.querySelector("#btn_save").addEventListener("click", (e) => {
			const form = document.querySelector('#content-wrap');
			loading.style.display = "flex";

			if(ff) return;

			ff = true;

			const param = {};
			const dataMap = new FormData(form);
			dataMap.set('locked', document.querySelector("input[name='locked']").checked);
			
			for([key, val] of dataMap.entries()) {
				if(key == '_csrf' && key == 'locked') {
					continue;
				}

				if(key == 'title' && (val == undefined || val == '')) {
					alert("제목을 입력하세요.");
					return;
				}

				param[key] = val;
			}

			fetch("/api/memo/save", {
					method: "POST",
					cache: "no-cache",
					credentials: "same-origin",
					headers: memoCsrfHeaders({ "Content-Type": "application/json"}),
					body: JSON.stringify(param),
			}).then(res => res.json())
			.then(data => {
				if(data?.seq !== '' || data?.seq !== undefined) {
					location.replace('/memo/view/' + data.seq);
				}
				// TODO error 처리
				
				loading.style.display = "none";
				ff = false;
			})
		})
	</script>
</body>
</html>
